.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative; /* Ensure the image container can be positioned relative to the card */
}

.image-container {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  /* Add transition for smooth zoom effect */
  transition: transform 0.3s ease-in-out;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the container without stretching */
  display: block;
  /* Add transition for smooth zoom effect */
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .product-image {
  transform: scale(1.1); /* Adjust the scale value as needed */
}

.product-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures the details section takes up available space */
}

.product-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.product-description {
  color: #666;
  margin-bottom: 1rem;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.show-more-text {
  color: #666; /* Match description text color */
  cursor: pointer;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  text-decoration: underline;
}

.show-more-text:hover {
  color: #555;
}

.shop-now-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push button to the bottom of the card */
}

.shop-now-button:hover {
  background-color: #0056b3;
}
